<h1 class="py-3 my-2" style="font-weight: lighter;">Stupid Coaching</h1>
<form action="answer" method="get" data-turbo="false">
  <label class="mx-3">ask your coash for anything</label>
  <div class="d-inline-flex m-3 row w-100">
    <input type="text" name="question" class="col-10">
    <input type="submit" value="Ask!" class="btn btn-primary col-1">
  </div>
</form>
